body {
    /* Box-model */
    padding: 0;
  
    /* Positioning */
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
  
    /* Typography */
    font-size: 18px;
    line-height: 150%;
    color: #333;
  
    /* Visual */
    background: #2d3047;
  }

  h1 {
    /* Box-model */
    padding: 20px 0;
  
    /* Positioning */
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
  
    /* Typography */
    color: #eee;
    text-align: center;
  
    /* Visual */
    background: #333;
  }
main {
  margin-top:20px;
  padding:20px; 
  background-color:#8eb1c7; 
  width:700px; 
}
nav{
  background-color: #d36135
}
.container{
  width: 75%;
  margin-left:5%;
}

a {
  color: #333
}

h5{
  font-weight: bold;
}

.card{
  background-color: #053C5E;
  color:white;
  /* position:relative; */
  padding-top:2px;
}

.card-body{
  position:relative;
}

.btnPortfolio{
  position:absolute;
  bottom:10px;
}

.card-text{
  height:175px;
}

.rightBtn{
  left:120px;
}